block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")
    title Drawings
    link(rel="stylesheet" href="/styles/main.css")
    link(rel="stylesheet" href="/styles/hierarchy.css")

  body
    div#root
      block layout-contents
        ul.menu
          li 
            a(href="/hierarchy") Hierarchy 
          li 
            a(href="/drawings") Drawings 
          li 
            a(href="/services") Services 

        h1 Drawings
        ul.tree
          each drawing in data
            li 
              a(href=`drawings/${drawing.id}`) #{drawing.name}
