<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header>
      <ul
        class="flex border-b border-gray-500 p-5 list-none gap-2 absolute top-0 left-0 w-full shadow-md bg-gray-100"
      >
        <li>
          <a href="/" class="text-blue-500 hover:text-blue-900"> Home </a>
        </li>
        <li>
          <a href="/products" class="text-blue-500 hover:text-blue-900">
            Products
          </a>
        </li>
        <li>
          <a href="/profile" class="text-blue-500 hover:text-blue-900">
            Profile
          </a>
        </li>
      </ul>
    </header>
  </body>
</html>
