include mixins/header

block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")
    title Products
    link(rel="stylesheet" href="/styles/hierarchy.css")
    script(src="https://cdn.tailwindcss.com")

  body
    div#root
      block layout-contents
        +header()

        div.py-20.px-10
          h1 Products

          each product in products
              li 
                a(href=`products/${product.id}` class=' text-blue-500 hover:text-blue-900') #{product.title} - #{product.price}


        
