mixin header()
  ul.flex.border-b.border-gray-500.p-5.list-none.gap-2.absolute.top-0.left-0.w-full.shadow-md.bg-gray-100
    li 
      a(href="/").text-blue-500 Home 
    li 
      a(href="/products").text-blue-500 products 
    li 
      a(href="/profile").text-blue-500 profile 
